/data/
!/data/storage-edee
/generated
/_deploy
target
.settings
.classpath
.project
.idea
.yo-rc.json
*.iml
*.iws
*.ipr
*.bak
*.hprof
rebel.xml
pom.xml.versionsBackup
pom.xml.releaseBackup
release.properties
overlays
node_modules
dev.json
deploy.json
npm-debug.log
_css.shtml
_js.shtml
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
/node_modules
/.pnp
.pnp.js

development/docker/development/log
development/docker/development/flags
development/docker/development/output
fe/dist/
/.yarn/cache/
