<?xml version="1.0" encoding="utf-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository>/home/rch/.m2/repository</localRepository>
  <servers>
    <server>
      <id>central</id>
      <username>fg</username>
      <password>forrest</password>
    </server>
    <server>
      <id>snapshots</id>
      <username>fg</username>
      <password>forrest</password>
    </server>
    <server>
      <id>fg-central</id>
      <username>fg</username>
      <password>forrest</password>
    </server>
    <server>
      <id>release</id>
      <username>fg</username>
      <password>forrest</password>
    </server>
    <server>
      <id>devel</id>
      <username>fg</username>
      <password>forrest</password>
    </server>
    <server>
      <id>external</id>
      <username>fg</username>
      <password>forrest</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>basic</id>
      <repositories>
        <repository>
          <id>release</id>
          <url>https://nexus.fg.cz/content/groups/releases/</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>devel</id>
          <url>https://nexus.fg.cz/content/groups/devel/</url>
          <snapshots>
            <updatePolicy>always</updatePolicy>
          </snapshots>
          <releases>
            <enabled>false</enabled>
          </releases>
        </repository>
        <repository>
          <id>external</id>
          <url>https://nexus.fg.cz/content/repositories/external/</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>central</id>
          <url>https://repo1.maven.org/maven2</url>
          <releases>
            <enabled>true</enabled>
          </releases>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>release</id>
          <url>https://nexus.fg.cz/content/groups/plugin-release-group/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
        <pluginRepository>
          <id>devel</id>
          <url>https://nexus.fg.cz/content/groups/plugin-snapshot-group/</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </pluginRepository>
        <pluginRepository>
          <id>ashlux.com-repo</id>
          <name>Ashlux.com Release Repository</name>
          <url>http://www.ashlux.com/maven2/repo</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
        <pluginRepository>
          <id>ashlux.com-snapshotRepo</id>
          <name>Ashlux.com Snapshot Repository</name>
          <url>http://www.ashlux.com/maven2/snapshotRepo</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </pluginRepository>
        <pluginRepository>
          <id>central</id>
          <url>https://repo1.maven.org/maven2</url>
          <releases>
            <enabled>true</enabled>
          </releases>
        </pluginRepository>
      </pluginRepositories>
      <properties>
        <BUILD_PROFILE>-rchnb</BUILD_PROFILE>
        <JAVA_EXECUTABLE>/bin/java</JAVA_EXECUTABLE>
        <SKIP_TESTS>true</SKIP_TESTS>
        <CVS_USER_NAME>p_prj</CVS_USER_NAME>
        <GIT_USER_NAME>git</GIT_USER_NAME>
        <JAVA_COMPILER>/bin/javac</JAVA_COMPILER>
        <JAVA_17_HOME>/usr/java/openjdk-17</JAVA_17_HOME>
        <JAVADOC_GENERATOR>/bin/javadoc</JAVADOC_GENERATOR>
      </properties>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>basic</activeProfile>
  </activeProfiles>
</settings>
